version: "3.8"

services:
  auth-service:
    build: .
    ports:
      - "4000:4000"
    env_file:
      - .env
    depends_on:
      - mongo
    restart: always

  employee-service:
    build: ../employee_service
    ports:
      - "4001:4001"
    env_file:
      - ../employee_service/.env
    depends_on:
      - mongo
    restart: always

  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
